%h2
  Blocmarks
.row
  .col-md-6
    .media.media-body
      - @bookmarks.not_own_by(current_user).each do |bookmark|
        %h5.media-heading#bookmarks
          = link_to bookmark.url, bookmark.url
          = render partial: 'favorites/favorite', locals: { bookmark: bookmark }
          %br
          = render partial: 'bookmarks/display_hashtag', locals: { bookmark: bookmark }
          %br
          = render partial: 'bookmarks/status', locals: { bookmark: bookmark }
          %hr
  .col-md-4
    = render 'bookmarks/new'

