.row
  .col-md-8.tabbable.tabs-left#blocmark-tabs
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#my-blocmarks"} My Blocmarks
      %li
        %a{"data-toggle" => "tab", :href => "#liked-blocmarks"} Liked Blocmarks
    .tab-content
      #my-blocmarks.tab-pane.active
        %br
        - @bookmarks.each do |bookmark|
          .media.media-body
            = render partial: 'bookmarks/bookmark', locals: { bookmark: bookmark }
        = paginate @bookmarks, param_name: :user_blocmarks, params: { tab: "my-blocmarks" }, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-small pagination-centered'
      #liked-blocmarks.tab-pane
        %br
        - @likes.each do |like|
          .media.media-body
            %h5{class: "media-heading", id: "user-liked-bookmark-#{like.bookmark.id}"}
              = link_to like.bookmark.url, like.bookmark.url
              = link_to 'Unlike', [like.bookmark, like], method: :delete, class: 'btn btn-default btn-xs', remote: true
              %br
              =raw hashtag_links like.bookmark.all_hashtags
              %br
              = render partial: 'bookmarks/status', locals: { bookmark: like.bookmark }
              %hr
        = paginate @likes, param_name: :liked_blocmarks, params: { tab: "liked-blocmarks" }, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-small pagination-centered'
  .col-md-4
    = render 'bookmarks/new'

- @tab_id = params[:tab] ? "#blocmark-tabs a[href=" + %Q(##{params[:tab]}) + "]" : "#blocmark-tabs a:first"

:javascript
  $(function () {
    $('#{@tab_id}').tab('show');
  })
